name: OVMF Build (Secure + Standard) - Harbor

on:
  push:    
  workflow_dispatch:
    inputs:
      tag:
        description: 'Optional git tag (leave empty for Top Of Trunk)'
        required: false
        default: ''

jobs:
  ovmf-build:
    runs-on: ubuntu-latest

    env:
      http_proxy:  http://web-proxy.corp.hpecorp.net:8080
      https_proxy: http://web-proxy.corp.hpecorp.net:8080
      HTTP_PROXY:  http://web-proxy.corp.hpecorp.net:8080
      HTTPS_PROXY: http://web-proxy.corp.hpecorp.net:8080
      ftp_proxy:   http://hpeproxy.its.hpecorp.net:443
      FTP_PROXY:   http://hpeproxy.its.hpecorp.net:443
      NO_PROXY:    127.0.0.1,localhost,16.182.104.0/21,10.0.0.0/8,172.0.0.0/8,192.168.0.0/16,.svc,.cluster.local,.nimblestorage.com
      no_proxy:    127.0.0.1,localhost,16.182.104.0/21,10.0.0.0/8,172.0.0.0/8,192.168.0.0/16,.svc,.cluster.local,.nimblestorage.com

      GIT_TAG: ${{ github.event.inputs.tag }}

      # Harbor (reusing Artifactory-named secrets)
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
      ARTIFACTORY_API_KEY: ${{ secrets.ARTIFACTORY_API_KEY }}
      HARBOR_PROJECT: ${{ secrets.HARBOR_PROJECT }}

      HOME: /workspace

    container:
      image: ghcr.io/tianocore/containers/ubuntu-24-test:latest
      options: --user 0:0

    steps:
      - name: Checkout EDK2 repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Make CI scripts executable
        run: |
          chmod +x ci/build-ovmf-inner.sh
          chmod +x ci/upload-to-harbor.sh

      - name: Install curl
        run: |
          apt-get update
          apt-get install -y curl

      - name: Install ORAS
        run: |
          curl -LO https://github.com/oras-project/oras/releases/download/v1.1.0/oras_1.1.0_linux_amd64.tar.gz
          tar -xzf oras_1.1.0_linux_amd64.tar.gz
          mv oras /usr/local/bin/

      - name: Debug ARTIFACTORY_URL
        run: |
          echo "ARTIFACTORY_URL=|${ARTIFACTORY_URL}|"   

      - name: Login to Harbor
        run: |
          echo "$ARTIFACTORY_API_KEY" | oras login \
          "$ARTIFACTORY_URL" \
          -u "$ARTIFACTORY_USER" \
          --password-stdin

      - name: Run OVMF build (Secure + Standard)
        run: |
          ci/build-ovmf-inner.sh
        

